<div class="navbar">
  <ol>
  <%
    i = 1
    pages = res[:all_pages]
    page_path = res[:page_path]
    pages.each do |p|
      nav_name = doop[p]["_nav_name"]

      if p == page_path %>
        <li class="doing"><%="#{i}. #{nav_name}"%></li>
      <% elsif doop[p]["_answered"] %>
        <li class="done"><a href="#" onclick="$('#nav_path').val('<%=p %>').click(); return false"><%="#{i}. #{nav_name}" %></a></li>
      <% else %>
        <li class="todo"><%="#{i}. #{nav_name}"%></li>
     <%
      end
      i +=1
    end %>
  </ol>

</div>

