<h1>YAML:</h1>
<%=form_tag( {action: "index"}, :authenticity_token => true, :remote => false ) do %>
  <textarea cols="140" rows="40" name="doop_data" id="doop_data"></textarea>
  <br/>
  <button id="render" name="harness">Render</button>
<% end %>
