<div id="question_section">
  <%= render res[:page], :doop => doop, :res => res %>
</div>
<div style="display: none;">
  <div id="doop_debug" title="Doop debug">
    <%= render "doop/debug", :doop => doop, :res => res %>
  </div>
</div>

