<% if root["_open"] %>
  <% if indent %><div class="indent"><% end %>
    <div class="question-open">
      <h2><%=title != nil ? title : root["_question"]%></h2>
      <% content.call(root, answer) %>
    </div>
  <% if indent %> </div"><% end %>
<% end %>

<% if !root["_open"] && root["_answered"] %>
  <% if indent %><div class="indent"><% end %>
    <div class="question-closed">
      <div class="title"><%=title != nil ? title : root["_question"]%></div>
      <div class="answer">
        <a href="#" class="button" onclick="$('#change_answer_path').val('<%=path %>').click(); return false"><%=root['_summary']%></a>
      </div>
    </div>
  <% if indent %> </div"><% end %>
<% end %>
